.radiobutton{
	-fx-background-color: white;
	-fx-border-radius: 0px;
	-fx-border-color: #666666;
}

.button
{
	-fx-background-color: white;
	-fx-border-radius: 0px;
	-fx-border-color: #666666;
}

.menu-button
{
	-fx-background-color: white;
	-fx-border-radius: 0px;
	-fx-border-color: #666666;
}

#patientbutton,
#createAccountBtn,
#patientLoginBtn,
#staffLoginBtn
{
	-fx-background-color:  #6039d2;
}

#clearFieldsBtn,
#backBtn
{
	-fx-background-color: #3ea3f4;
}

#selectedbutton
{
	-fx-background-color:  #cdc8de;
	-fx-border-width: 0px;
	-fx-textFill: #603bd1;
	-fx-stroke: #6039d2;
}

#unselectedbutton:hover
{
	-fx-border-color: transparent;
	-fx-background-color:  #cdc8de;
	-fx-border-width: 0px;
	-fx-textFill: #603bd1;
	-fx-stroke: #6039d2;
}

#selectedbuttonRadio
{
	-fx-border-color: transparent;
	-fx-background-color:  #cdc8de;
	-fx-border-width: 0px;
	-fx-textFill: #603bd1;
	-fx-stroke: #6039d2;
}

#unselectedbuttonRadio
{
	-fx-border-color: transparent;
	-fx-background-color:  #fefefe;
	-fx-border-width: 0px;
	-fx-textFill: #666666;
	-fx-stroke: #aaaaaa;
}

#selectedoption
{
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: #6039d2;
	-fx-border-width: 4px;
}

#unselectedoption
{
	-fx-border-width: 4px;
	-fx-border-color: transparent;
	-fx-background-color:  #fefefe;
}

#backbutton
{
	-fx-border-width: 0px;
}