@import "styles.css";

.radiobutton{
	-fx-background-color: #ffffff;
	-fx-border-radius: 0px;
	-fx-border-color: -color-border;
}

.button /* default slim border nofill button */
{
	-fx-background-color: transparent;
	-fx-border-radius: 0px;
	-fx-border-color: -color-border;
}

.button:hover
{
	-fx-background-color: -color-hover;
	-fx-border-radius: 0px;
	-fx-border-color: -color-border;
}

.button:pressed
{
	-fx-background-color: -color-pressed;
}

.icon-button
{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0px;
}

.icon-button:hover
{
	-fx-background-color: -color-hover;
	-fx-border-color: transparent;
	-fx-border-width: 0px;
}

.icon-button:pressed
{
	-fx-background-color: -color-pressed;
	-fx-border-color: transparent;
	-fx-border-width: 0px;
}

.menu-button
{
	-fx-background-color: #fefefe;
	-fx-border-radius: 4px;
	-fx-border-color: -color-border;
}

.transparent-button
{
	-fx-background-color: #ffffff;
	-fx-border-width: 0px;
}

#patientbutton,
#composebutton,
#createAccountBtn,
#patientLoginBtn,
#staffLoginBtn
{
	-fx-background-color:  -color-accent;
}

#patientbutton:hover,
#composebutton:hover,
#createAccountBtn:hover,
#patientLoginBtn:hover,
#staffLoginBtn:hover
{
	-fx-background-color:  -color-accent-hover;
}

#patientbutton:pressed,
#composebutton:pressed,
#createAccountBtn:pressed,
#patientLoginBtn:pressed,
#staffLoginBtn:pressed
{
	-fx-background-color:  -color-accent-pressed;
}

#clearFieldsBtn,
#backBtn
{
	-fx-background-color: -color-primary;
}

#selectedbutton
{
	-fx-background-color:  -color-accent-selected;
	-fx-border-width: 0px;
	-fx-textFill: #603bd1;
	-fx-stroke: #6039d2;
}

#unselectedbutton
{
	-fx-background-color:  transparent;
	-fx-border-width: 0px;
	-fx-textFill: -color-accent;
	-fx-stroke: -color-accent;
}

#unselectedbutton:hover
{
	-fx-border-color: transparent;
	-fx-background-color:  -color-accent-hover-light;
	-fx-border-width: 0px;
	-fx-textFill: -color-accent;
	-fx-stroke: -color-accent;
}

#selectedbuttonRadio
{
	-fx-border-color: transparent;
	-fx-background-color:  -color-accent-selected;
	-fx-border-width: 0px;
	-fx-textFill: -color-accent;
	-fx-stroke: -color-accent;
}

#unselectedbuttonRadio
{
	-fx-border-color: transparent;
	-fx-background-color:  -color-background;
	-fx-border-width: 0px;
	-fx-textFill: -color-text;
	-fx-stroke: #aaaaaa;
}

#selectedoption /* in nurseview/doctorview, this is the sort option at the top */
{
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: -color-accent;
	-fx-border-width: 4px;
	-fx-background-color:  -color-appbackground;
}

#selectedoption:hover
{
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: -color-accent;
	-fx-border-width: 4px;
	-fx-background-color:  -color-hover;
}


#unselectedoption
{
	-fx-border-width: 4px;
	-fx-border-color: transparent;
	-fx-background-color:  -color-appbackground;
	-fx-transition: -fx-background-color 0.9s;
}

#unselectedoption:hover
{
	-fx-border-width: 4px;
	-fx-border-color: transparent;
	-fx-background-color:  -color-hover;
}

#unselectedoption:pressed
{
	-fx-border-width: 4px;
	-fx-border-color: transparent;
	-fx-background-color:  -color-pressed;
}

#backbutton
{
	-fx-border-width: 0px;
}

#backbutton:hover
{
	-fx-border-width: 0px;
	-fx-background-color: -color-hover;
}

#backbutton:pressed
{
	-fx-border-width: 0px;
	-fx-background-color: -color-pressed;
}

/* ListItem */
.listItem 
{
	-fx-background-color: #ffffff;
	-fx-border-width: 1px;
	-fx-border-color: #f0f0f0;
}

.listItem:hover, .listItem.hover
{
	-fx-background-color: -color-hover;
	-fx-border-width: 1px;
	-fx-border-color: #f0f0f0;
}

.listItem:pressed, .listItem.pressed
{
	-fx-background-color: -color-pressed;
	-fx-border-width: 1px;
	-fx-border-color: #f0f0f0;
}