@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('/Assets/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    src: url('/Assets/OpenSans-SemiBold.ttf');
}

.root {
	/* Color Variables */
	-color-primary: #3ea3f4; /* light blue */
	
	-color-secondary: #2b2138; /* dark blue */
	
	-color-accent: #6039d2; /* accent purple */
	-color-accent-hover: #5736b5;
	-color-accent-hover-light: #dfd7fa;
	-color-accent-pressed: #472d91;
	-color-accent-selected: #cec5ed;
	
	-color-appbackground: #f8f8f8;
	-color-background: #fefefe;
	-color-hover: #f2f2f2;
	-color-pressed: #e5e5e5;
	
	-color-text: #666666;
	-color-border: #777777;
	-color-lightgray: #f5f5f5;
	
	//-fx-font-family: sans-serif;
}
