@import "styles.css"

.text-field-bottomless {
	/* minimal text field with underline at bottom when clicked*/
	-fx-background-color: transparent;
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: transparent;
}

.text-field-bottomless:focused {
	-fx-background-color: transparent;
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: #aaaaaa;
}

.text-field-bottom {
	/* minimal text field with underline at bottom when clicked*/
	-fx-background-color: transparent;
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: #aaaaaa;
}

.text-field-bottom:focused {
	-fx-background-color: transparent;
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: #3060ff;
}